body {
  background: #EAE4E9;
  color: #3D405B;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  line-height: normal;
/* font-family: 'Akshar', sans-serif;
font-family: 'Lora', serif;
font-family: 'Ms Madi', cursive;
font-family: 'Space Mono', monospace; */
}

h1, h2 {
  font-weight: bold;
  font-family: Ms Madi, cursive;
  font-size: 70px;
  font-weight:900;
}

h2 {
  font-size: 40px;
}

img.circle {
  border-radius: 150px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
  /* box-shadow: 5px 5px 3px #1a090d; */
}

a {
  color: #363062;
  text-decoration: none;
}
a:hover {
  color: #827397;
}

p {
  color: black;
}

div.container {
width: 700px;
margin: 0 auto;
padding: 40px;
}

div.card-white {
  background-color: whitesmoke;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

div.card-contact {
background-color: #a17d85;
padding: 40px;
box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
